body {
    background-image: url("https://res.cloudinary.com/hewckvlra/image/upload/v1736459239/back_vm8mib.jpg");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


@keyframes moveAndFade {
    0% {
        left: -200px;
        opacity: 0;
    }
    50% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

html {
    height: auto;
    width:100%;
    margin: 0;
}

.image {
    width: 40vw;
    height: auto;
    margin-top: 2%;
    margin-left: 5%;
    animation: moveAndFade 4s ease-in-out forwards;
}

.tools1, .tools2, .tools3, .tools4, .tools5, .tools6 {
    gap: 10px; /* Διατήρηση του κενού μεταξύ των εικόνων */
    object-fit: cover; /* Προσαρμόζει την εικόνα στο container χωρίς παραμόρφωση */
    display: inline-block; /* Βεβαιώνει ότι οι εικόνες παραμένουν ευθυγραμμισμένες */
    margin-left: 1%; /* Περιθώριο αριστερά */
    vertical-align: middle; /* Κεντρική κάθετη ευθυγράμμιση */
}

.tools1, .tools3 {
    width: 5.91vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools2 {
    width: 9.84vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */

}

.tools6 {
    width: 10vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools4, .tools5 {
    width: 7.88vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.Main_image1 {
    width: 30vw;
    height: 20vw;
    margin-top: 26%;
    left: 5%;
    position: absolute;
    border-radius: 20px;
}

.Main_image2 {
    width: 30vw;
    height: 20vw;
    margin-top: 60%;
    left: 5%;
    position: absolute;
    border-radius: 20px;
}

.Main_image3 {
    width: 30vw;
    height: 20vw;
    margin-top: 97%;
    left: 5%;
    position: absolute;
    border-radius: 20px;
}

.Main_image4 {
    width: 30vw;
    height: 20vw;
    margin-top: 133%;
    left: 5%;
    position: absolute;
    border-radius: 20px;
}

.button {
    position: absolute;
    display: inline-flex; /* Χρήση flexbox για ευθυγράμμιση */
    align-items: center; /* Κεντράρει κάθετα το κείμενο και το βέλος */
    justify-content: center; /* Ευθυγράμμιση στο κέντρο */
    padding: 0.52vw 1.04vw;
 /* Αύξηση padding για καλύτερη εμφάνιση */
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    margin-top: 48%;
    margin-left: 20vw;
    z-index: 10;
    gap: 10px;
}

.button:hover {
    background-color: #0b67c2;
}

.button svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.button1 {
    position: absolute;
    display: inline-flex; /* Χρήση flexbox για ευθυγράμμιση */
    align-items: center; /* Κεντράρει κάθετα το κείμενο και το βέλος */
    justify-content: center; /* Ευθυγράμμιση στο κέντρο */
    padding: 0.52vw 1.04vw;
 /* Αύξηση padding για καλύτερη εμφάνιση */
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    margin-top: 82%;
    margin-left: 18vw;
    z-index: 10;
    gap: 10px;
}

.button1:hover {
    background-color: #0b67c2;
}

.button1 svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button1:hover svg {
    transform: translateX(5px);
}

.button2 {
    position: absolute;
    display: inline-flex; /* Χρήση flexbox για ευθυγράμμιση */
    align-items: center; /* Κεντράρει κάθετα το κείμενο και το βέλος */
    justify-content: center; /* Ευθυγράμμιση στο κέντρο */
    padding: 0.52vw 1.04vw;
 /* Αύξηση padding για καλύτερη εμφάνιση */
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    margin-top: 119%;
    margin-left: 23vw;
    z-index: 10;
    gap: 10px;
}

.button2:hover {
    background-color: #0b67c2;
}

.button2 svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button2:hover svg {
    transform: translateX(5px);
}

.button3 {
    position: absolute;
    display: inline-flex; /* Χρήση flexbox για ευθυγράμμιση */
    align-items: center; /* Κεντράρει κάθετα το κείμενο και το βέλος */
    justify-content: center; /* Ευθυγράμμιση στο κέντρο */
    padding: 0.52vw 1.04vw;
 /* Αύξηση padding για καλύτερη εμφάνιση */
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    margin-top: 155%;
    margin-left: 21vw;
    z-index: 10;
    gap: 10px;
}

.button3:hover {
    background-color: #0b67c2;
}

.button3 svg {
    margin-left: 10px;
    width: 16px !important;
    height: 16px !important;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button3:hover svg {
    transform: translateX(5px);
}

.message {
    display: none; /* Κρύβουμε το μήνυμα αρχικά */
    margin-top: 23%;
    margin-left: 42%;
    margin-right: 2%;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message p {
    width: 95%;
}

.message1 {
    display: none; /* Κρύβουμε το μήνυμα αρχικά */
    margin-top: 70%;
    margin-left: 42%;
    margin-right: 2%;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message1 p {
    width: 95%;
}

.message2 {
    display: none; /* Κρύβουμε το μήνυμα αρχικά */
    margin-top: 132%;
    margin-left: 42%;
    margin-right: 2%;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message2 p {
    width: 95%;
}

#contactFormContainer {
    margin-top: 20px;
}

#viwer {
    position: absolute;
    right: 3%;
    margin-top: 183%;
    background-color: rgb(197, 196, 196);
    color: black;
    padding: 1rem;
    border-radius: 8px;
    width: 9%;
    height: 4%;
    display: flex; /* Ενεργοποιεί το flexbox */
    align-items: center; /* Κάθετη κεντράρισμα */
    justify-content: center; /* Οριζόντια κεντράρισμα */
    text-align: center; /* Σε περίπτωση που το κείμενο είναι πολύγραμμο */
}

@media only screen and (max-width: 500px) and (min-width: 280px) {
    .button, .button1, .button2, .button3 {
        margin-left: 10%;
    }

    #viwer {
        right: 3%;
        margin-top: 175%;
        width: 20%;
        height: 2%;
        font-size: 14px;
        padding: 10px 10px;
    }
}