
body {
    background-image: url("https://res.cloudinary.com/hewckvlra/image/upload/v1736459239/back_vm8mib.jpg");
    height: auto; 
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

html {
    height: auto;
    width:100%;
    margin: 0;
}

.image {
    width: 35vw;
    height: auto;
    position: absolute;
    left: 5vw;
    top: 5vw;
}

.tools1, .tools2, .tools3, .tools4, .tools5, .tools6 {
    display: inline-block; /* Ensures images are treated as inline-block elements */
    margin: 5px; /* Add some spacing around the images */
    object-fit: cover; /* Maintains aspect ratio without distortion */
    vertical-align: middle; /* Aligns images vertically */
}

.tools1, .tools3 {
    width: 5.5vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools2{
    width: 8vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools5, .tools6 {
    width: 8vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools4 {
    width: 9vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.tools6 {
    width: 10vw; /* Πλάτος 3cm */
    height: auto; /* Ύψος 3cm */
}

.Main_image1 {
    width: 30vw;
    height: auto;
    position: absolute;
    border-radius: 20px;
    left: 6vw !important;
    top: 30vw !important;
}

.message {
    display: none; /* Κρύβουμε το μήνυμα αρχικά */
    margin-top: 29vw;
    margin-left: 42vw;
    margin-right: 2vw;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message p {
    width: 95%;
}

.Main_image2 {
    width: 30vw;
    height: auto;
    position: absolute;
    border-radius: 20px;
    left: 6vw !important;
    top: 67vw !important;
}
.message1 {
    display: none; /* Κρύβουμε το μήνυμα αρχικά */
    margin-top: 75vw;
    margin-left: 42vw;
    margin-right: 2vw;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message1 p {
    width: 95%;
}

.Main_image3 {
    width: 30vw;
    height: auto;
    position: absolute;
    border-radius: 20px;
    left: 6vw !important;
    top: 104vw !important;
}
.message2 {
    display: none;
    margin-top: 137vw;
    margin-left: 42vw;
    margin-right: 2vw;
    position: absolute;
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.3;
}

.message2 p {
    width: 95%;
}

.Main_image4 {
    width: 30vw;
    height: auto;
    position: absolute;
    border-radius: 20px;
    left: 6vw !important;
    top: 142vw !important;
}

.button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.52vw 1.04vw;
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    top: 52vw;
    left: 6vw;
    z-index: 10;
    gap: 10px;
}

.button:hover {
    background-color: #0b67c2;
}

.button svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.button1 {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.52vw 1.04vw;
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    top: 89vw;
    left: 6vw;
    z-index: 10;
    gap: 10px;
}

.button1:hover {
    background-color: #0b67c2;
}

.button1 svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button1:hover svg {
    transform: translateX(5px);
}

.button2 {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.52vw 1.04vw;
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    top: 126vw;
    left: 6vw;
    z-index: 10;
    gap: 10px;
}

.button2:hover {
    background-color: #0b67c2;
}

.button2 svg {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button2:hover svg {
    transform: translateX(5px);
}

.button3 {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.52vw 1.04vw;
    background-color: #1e90ff;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: auto;
    top: 164vw;
    left: 6vw;
    z-index: 10;
    gap: 10px;
}

.button3:hover {
    background-color: #0b67c2;
}

.button3 svg {
    margin-left: 10px;
    width: 16px !important;
    height: 16px !important;
    fill: #fff;
    transition: transform 0.3s ease;
}

.button3:hover svg {
    transform: translateX(5px);
}

#viwer {
    position: absolute;
    left: 7vw;
    margin-top: 178vw;
    background-color: rgb(197, 196, 196);
    color: black;
    padding: 10px 10px;
    border-radius: 8px;
    width: 8.5vw;
    height: 1.4vw;
    align-items: center; /* Κάθετη κεντράρισμα */
    justify-content: center; /* Οριζόντια κεντράρισμα */
    text-align: center; /* Σε περίπτωση που το κείμενο είναι πολύγραμμο */
    font-size: 18px;
}

h2 {
    text-align: center;
    font-size: 18px;
    background-color: rgb(235, 235, 235); /* Light gray background */
    font-weight: bold; /* Bold text */
    padding: 10px; /* Add 10px space on all sides inside the background */
    margin: 10px 0; /* Add 10px vertical space outside the element */
    border-radius: 12px; /* Rounded corners */
    display: inline-block; /* Ensure the background only covers the text */
}

@media only screen and (max-width: 500px) and (min-width: 280px) {

    body {
        height: 0% !important; 
    }
    .image {
        width: 60vw;
        height: auto;
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .Main_image1 {
        position: inherit;
        margin-top: 50% !important;
        width: 87%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .button {
        position: inherit;
        font-size: 4vw;
        margin-top: 5% !important;
        padding: 5px 5px;
        margin-left: 7% !important;
        margin: auto;

    }
    .message {
        position:inherit !important;
        margin-top: 5% !important;
        margin-left: 2% !important;
        right: 5px !important;
        width: 100%;
        font-size: 5vw;
        text-align: left;
        line-height: 1.3;
        padding: 0 2%;
        margin: 0%;
    }
    .Main_image2 {
        position: inherit;
        margin-top: 11% !important;
        width: 87%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .button1 {
        position: inherit;
        font-size: 4vw;
        margin-top: 5% !important;
        padding: 5px 5px;
        margin-left: 7% !important;
        margin: auto;
    }
    .message1 {
        position:inherit !important;
        margin-top: 5% !important;
        margin-left: 2% !important;
        right: 5px !important;
        width: 100%;
        font-size: 5vw;
        text-align: left;
        line-height: 1.3;
        padding: 0 2%;
        margin: 0%;
    }
    .Main_image3 {
        position: inherit;
        margin-top: 16% !important;
        width: 87%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .message2 {
        position:inherit !important;
        margin-top: 5% !important;
        margin-left: 2% !important;
        right: 5px !important;
        width: 100%;
        font-size: 5vw;
        text-align: left;
        line-height: 1.3;
        padding: 0 2%;
        margin: 0%;
    }
    .button2 {
        position: inherit;
        font-size: 4vw;
        margin-top: 5% !important;
        padding: 5px 5px;
        margin-left: 7% !important;
        margin: auto;
    }
    .Main_image4 {
        position: inherit;
        margin-top: 17% !important;
        width: 87%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .button3 {
        position: inherit;
        font-size: 4vw;
        margin-top: 5% !important;
        padding: 5px 5px;
        margin-left: 7% !important;
        margin: auto;
    }
    #viwer {
        position: absolute;
        height: auto;
        width: auto;
        margin-top: 5% !important;
        margin-left: 53%;
        background-color: #fff;

    }
    .tools1, .tools3 {
        width: 10%; /* Πλάτος 3cm */
        height: auto; /* Ύψος 3cm */
        margin: auto;
    }
    
    .tools2{
        width: 12%; /* Πλάτος 3cm */
        height: auto; /* Ύψος 3cm */
    }
    
    .tools5, .tools6 {
        width: 12%; /* Πλάτος 3cm */
        height: auto; /* Ύψος 3cm */
    }
    
    .tools4 {
        width: 13%; /* Πλάτος 3cm */
        height: auto; /* Ύψος 3cm */
    }
    
    .tools6 {
        width: 18%; /* Πλάτος 3cm */
        height: auto; /* Ύψος 3cm */
    }
    h2 {
        position: absolute;
        font-size: 16px; /* Slightly smaller font size for smaller screens */
        padding: 8px; /* Reduce padding for compact design */
        margin: 8px auto; /* Adjust margin for spacing on small screens */
        margin-top: 20%;
    }
}
