{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'cpsoftware/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'cpsoftware/contact_us_form.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <a class="button3" href="{% url 'homepage' %}" ></i></i>Homepage</a>
    <div class="container">
        <form method="post" id="contact">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Αυτό κάνει render όλα τα πεδία της φόρμας, συμπεριλαμβανομένου του CAPTCHA -->
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            <p class="copyright">
                Designed by CP Software Solutions
            </p>
        </form>
    </div>
</body>
</html>
