{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cpsoftware/footer.css' %}">
    <title>Contact Details</title>
</head>
<body>
    
    <footer>
        <div class="container">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>About Us</h3>
                    <p>At CP Software Creation, 
                        we specialize in creating innovative, 
                        user-friendly software tailored to meet the needs of modern 
                        businesses. With expertise in Python, Django, 
                        HTML, CSS, and Kivy, we deliver dynamic web applications, 
                        mobile solutions, and seamless integrations for diverse 
                        industries. Our mission is to empower clients with robust, 
                        scalable, and cost-effective technology that drives efficiency 
                        and growth. Based in Nicosia and London, we take pride in 
                        combining local insights with global expertise to offer 
                        exceptional customer service and cutting-edge solutions. 
                        At CP Software Creation, your success is our priority, 
                        and we’re committed to turning your ideas into reality.
                    </p>
                </div>
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="{% url 'homepage' %}">Home</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="mailto:cpsoftwarecreation@outlook.com">Email: cpsoftwarecreation@outlook.com</a></li>
                        <li><a href="tel:0035799899041">Phone Cy: 00357-99899041</a></li>
                        <li><a href="tel:00447731869171">Phone UK: 0044-07311256343</a></li>
                        <li>Address: Nicosia, Cyprus</li>
                        <li>
                            <a href="https://www.google.com/maps/search/?api=1&query=103+Myddleton+Road,+London,+United+Kingdom" target="_blank" rel="noopener noreferrer">
                            <img src="https://res.cloudinary.com/hotitu8ux/image/upload/v1752156587/map_cgbaty.png" title="location icons" alt="Map Icon" width="16" height="16" style="vertical-align: middle; margin-right: 5px;">
                            Address: 103 Myddleton Road, London, United Kingdom
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61572415893584" target="_blank">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </div>
            <p id='p'>&copy; 2025 CP Software Creation. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
